.contact-outer-container {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  flex-wrap: wrap;
  gap: 30px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  border: 1px solid black;

  border-radius: 20px;
}

.contact-container img {
  height: 50px;
}

.contact-container p {
  font-size: 25px;
  cursor: pointer;
  border-radius: 10px;
}

.contact-container p:hover {
  background-color: rgba(161, 161, 161, 0.15);
}

.footer-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 800px) {
  .contact-container {
    width: 90%;
    height: 50px;
  }

  .contact-container img {
    height: 25px;
    margin-right: 5px;
  }

  .contact-container p {
    font-size: 17px;
  }

  .footer-container p {
    font-size: 20px;
  }
}

@media (min-width: 801px) and (max-width: 1199px) {
  .contact-container {
    width: 60%;
    height: 70px;
  }

  .contact-container img {
    height: 50px;
    margin-right: 20px;
  }

  .contact-container p {
    font-size: 25px;
  }

  .footer-container p {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .contact-container {
    width: 45%;
    height: 80px;
  }

  .contact-container img {
    height: 60px;
    margin-right: 30px;
  }

  .contact-container p {
    font-size: 30px;
  }

  .footer-container p {
    font-size: 30px;
  }
}
